[credential]
	helper = manager
	modalPrompt = true
	
[include]
  path = ~/dotfiles/configs/git/bitBucket/.gitconfig-user

[http]
	sslVerify = false
	proxy = http://proxyweb-automation.paychex.com:80
[https]
    sslVerify = false
    proxy = http://proxyweb-automation.paychex.com:80
[url "https://"]
	insteadOf = git://
[apply]
    # do not warn about missing whitespace at EOF
    whitespace = nowarn
 
[core]
	autocrlf = true
	filemode = false
	excludesfile = ~/dotfiles/configs/git/.gitignore_global
[merge]
	        tool = kdiff3
[mergetool "kdiff3"]
	        path = C:/Program Files/KDiff3/kdiff3.exe
		        trustExitCode = false
[diff]
	        guitool = kdiff3
[difftool "kdiff3"]
	        path = C:/Program Files/KDiff3/kdiff3.exe
		        trustExitCode = false

