[credential]
	helper = manager
	modalPrompt = true
	

[include]
  path = ~/workspace/dotfiles/configs/git/paychex/.gitconfig-user

[http]
	sslVerify = false
	proxy = 127.0.0.1:3128
[https]
    sslVerify = false
	proxy = 127.0.0.1:3128
[url "https://"]
	insteadOf = git://
[apply]
    # do not warn about missing whitespace at EOF
    whitespace = nowarn

[core]
	autocrlf = true
	filemode = false
	excludesfile = ~/workspace/dotfiles/configs/git/.gitignore_global
	editor = code --wait
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
