[user]
	name = Nate Weldon
	email = nweldon@onestreamsoftware.com

[credential]
	helper = manager
	modalPrompt = true

[http]
	sslVerify = false
[https]
	sslVerify = false

# Rewrite Azure DevOps HTTPS URLs to SSH automatically
[url "git@ssh.dev.azure.com:v3/OneStreamPlatformEng/"]
	insteadOf = https://OneStreamPlatformEng@dev.azure.com/OneStreamPlatformEng/
[apply]
    # do not warn about missing whitespace at EOF
    whitespace = nowarn

[core]
	autocrlf = true
	filemode = false
	excludesfile = ~/workspace/dotfiles/configs/git/.gitignore_global
	editor = code --wait
[merge]
	tool = vscode
	ff = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
